[submodule "external-charts/immich"]
	path = external-charts/immich
	url = https://github.com/kriegalex/immich-charts.git
[submodule "external-charts/plex"]
	path = external-charts/plex
	url = https://github.com/kriegalex/pms-docker.git
[submodule "external-charts/nextcloud"]
	path = external-charts/nextcloud
	url = https://github.com/nextcloud/helm.git
