apiVersion: v1
kind: Service
metadata:
  name: {{ include "qbittorrent.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "qbittorrent.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: {{ include "qbittorrent.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
